body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#music-type {
    padding: 20px;
    text-align: center;
}

 .h2 {

    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.swiper-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: 0 auto;
}
.swiper-wraper {
    display: flex;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.types {
    text-align: center;
}

.type-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

@media (min-width: 769px) {
    .swiper-container {
        display: none;
    }

    /* #music-type {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    } */
     .types-container {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
     }

    .types {
        flex: 1 1 calc(20% - 20px);
        box-sizing: border-box;
        margin: 10px;
    }
}
@media (max-width: 768px) {
    .types-container {
        display: none;
    }
    .swiper-container {
        display: block;
    }
}