body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: auto;
    /* grid-template-columns: 200px 1fr;
grid-template-rows: auto 1fr auto; */
    grid-template-areas:
        "header header"
        "nav main"
        "nav photo-gallery"
        "nav aside"
        "footer footer";
    grid-gap: 10px;
    /* gap: 20px; */
    padding: 20px;
    /* position: relative; */
}

header {
    grid-area: header;
    color: #ffffff;
    background-color: #18A346;
    font-size: 24px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding: 20px; */
}

.header>h1 {
    font-size: 32px;
}

nav {
    grid-area: nav;
    font-size: 24px;
    text-align: center;
    background-color: #e0d75b;
    ;
    /* padding: 20px; */
}

main {
    grid-area: main;
    font-size: 24px;
    text-align: center;
    background-color: #e0d75b;
    /* padding: 20px; */
}

.photo-gallery {
    grid-area: photo-gallery;
    /* position: absolute;
    top: 0;
    right: 0; */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin: 10px 10px; */
    gap: 10px;
}

/* .photo-gallery img {
    width: 100%;
    height: 100%; */
/* margin-bottom: 10px; */

.grid-container .photo-gallery .photo-item {
    position: relative;
    text-align: center;
    background-size: cover;
    height: 200px;
    display: flex;
}

/* .photo-item {
    position: relative;
    text-align: center;
    background-size: cover;
} */
/* .photo-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
} */
.photo-item p {
    /* position: absolute;
    bottom: 10px;
    left: 50%; */
    /* transform: translateX(-50%); */
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
    margin-top: auto;
}

/* .photo-gallery span {
    background-color: #18A346;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
} */
aside {
    grid-area: aside;
    background-color: #e0d75b;
    /* padding: 20px; */
}

footer {
    grid-area: footer;
    font-family: Tahoma, sans-serif;
    font-size: 24px;
    color: white;
    background-color: black;
    /* padding: 20px; */
}

@media (max-width: 768px) {

    /* .grid-container {
        grid-template-columns: repeat(1fr);
    }
    nav {
        display: none;
    }
    main {
        grid-row: 1 /span 2;
    }
aside {
    grid-column: 1 /span 2;
}
.photo-gallery span {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    .photo-gallery {
        /* grid-area: photo-galery;
        display: grid; */
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .photo-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: unset;

    }
    nav {
        display: none;
    }
}

@media (max-width: 320px) {
    .photo-gallery {
        grid-template-columns: 1fr;
    }
    nav {
        display: none;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-gap: unset;

    }
}